@charset "UTF-8";
/*-------------------------------------------
共通クラス
-------------------------------------------*/
body {
  font-family: "Hiragino Mincho Pro", "Hiragino Mincho ProN", "Yu Mincho", YuMincho, HGS明朝E, メイリオ, Meiryo, serif;
  letter-spacing: 0.1em;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

a:hover {
  opacity: 0.85;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.body {
  background: #353535;
}

.main {
  position: relative;
}

/*-------------------------------------------
共通パーツの指定
-------------------------------------------*/
.u-wrapper {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}
@media screen and (max-width: 900px) {
  .u-wrapper {
    padding: 0px 15px;
  }
}

/* ここから記述します。 */
.header {
  height: auto;
  padding: 28px 0;
}

.header-inner {
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo {
  max-width: 160px;
  height: auto;
}

.hamburger {
  z-index: 1000;
  width: 30px;
  height: 22px;
  position: relative;
  background: none;
  border: none;
}

.hamburger span {
  position: absolute;
  left: 0;
  height: 2px;
  width: 30px;
  background-color: #fff;
  border-radius: 1px;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: right center;
          transform-origin: right center;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  top: 10px;
}

.hamburger span:nth-child(3) {
  top: 20px;
  bottom: auto;
}

.hamburger.is-open span:nth-child(1) {
  -webkit-transform: rotate(-40deg) translateY(1px);
          transform: rotate(-40deg) translateY(1px);
}

.hamburger.is-open span:nth-child(2) {
  opacity: 0;
}

.hamburger.is-open span:nth-child(3) {
  -webkit-transform: rotate(40deg) translateY(-1px);
          transform: rotate(40deg) translateY(-1px);
}

.global-nav {
  position: fixed;
  /* askより上 */
  z-index: 1000;
  top: 0;
  left: 0;
  width: 24%;
  height: 100%;
  background-color: #fff;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  /* 見えないようにしておく */
  -webkit-transition: -webkit-transform 0.1s ease;
  transition: -webkit-transform 0.1s ease;
  transition: transform 0.1s ease;
  transition: transform 0.1s ease, -webkit-transform 0.1s ease;
}

.global-nav.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.nav-mask {
  position: fixed;
  /* navが開いている間、常に画面を覆う*/
  z-index: 900;
  /* navより下  mainより上*/
  inset: 0;
  /* 余白なし、画面いっぱいに広げる*/
  background: rgba(0, 0, 0, 0.8);
  /* 50%透明*/
  opacity: 0;
  visibility: hidden;
  /* navが閉じている状態で存在しない扱い*/
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.nav-mask.is-open {
  opacity: 1;
  visibility: visible;
}

.global-nav-inner img {
  margin-bottom: 25px;
  height: 21px;
}

.global-nav-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* 縦並び */
  padding: 60px 24px;
}

.global-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  font-weight: lighter;
}

.side-decoration {
  position: absolute;
  top: 25%;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
  font-size: 15px;
  font-weight: lighter;
  color: #cacaca;
  opacity: 0.6;
  padding: 8px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.side-decoration::before {
  content: "";
  position: absolute;
  top: -52px;
  /* ← 文字の前に出す */
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1.5px;
  height: 40px;
  background-color: #cacaca;
  opacity: 0.7;
  margin-bottom: 12px;
}

.front-section {
  position: relative;
}

.front-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 4列同じ大きさ */
  grid-template-rows: repeat(2, 1fr);
  gap: 35px;
}

/*---------------------------
.front-grid {
grid-template-areas:
        "item1 item2 item3 item4"
        "item1 item5 item6 item7";
}
.front-item1 {
    grid-area: item1;
}

.front-item2 {
    grid-area: item2;
}

.front-item3 {
    grid-area: item3;
}

.front-item4 {
    grid-area: item4;
}

.front-item5 {
    grid-area: item5;
}

.front-item6 {
    grid-area: item6;
}

.front-item7 {
    grid-area: item7;
}
--------------------------*/
.product-image-large {
  width: 100%;
  height: 100%;
}

.product-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.product-image-large img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  -o-object-position: right center;
     object-position: right center;
}

.front-item-large {
  grid-column: 1/2;
  grid-row: 1/3;
}

.item-name {
  color: #fff;
  margin-top: 4px;
}

.item-price {
  color: #fff;
}

.front-more {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 130px;
}

.more-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  /* テキストが縦横真ん中、文字がいっぱいに広がらない */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 240px;
  padding: 13px 32px;
  color: #fff;
  border: 0.5px solid #cacaca;
}

.footer {
  background-color: #fff;
  color: #353535;
}

.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 46px 40px;
}

.footer-logo img {
  max-width: 160px;
  height: auto;
  margin-bottom: 24px;
}

.footer-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}

.footer-copy {
  font-size: 14px;
}

@media screen and (max-width: 900px) {
  .global-nav {
    width: 50%;
    max-width: 300px;
    /* 広がりすぎ防止（重要） */
  }
  .front-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 26px 8px;
  }
  .front-grid > :first-child {
    grid-column: 1/-1;
  }
  .front-grid {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start; /* gridマスいっぱいに引き伸ばさず上に置く */
  }
  .front-item-large {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product-image-large img {
    height: auto;
    aspect-ratio: 1/1;
  }
  .item-name,
  .item-price {
    font-size: 14px;
  }
  .side-decoration {
    display: none;
  }
  .front-more {
    margin-bottom: 80px;
  }
  .footer-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px;
  }
}
.about-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 120px;
  color: #fff;
}

.about-text1 {
  margin-bottom: 34px;
}

.about-textTitle {
  font-size: 28px;
  margin-bottom: 24px;
}

.about-text p {
  line-height: 1.9;
}

.about-image,
.about-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 900px) {
  .about-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 80px;
  }
  .about-textTitle {
    font-size: 22px;
  }
}
.company-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
  margin-bottom: 120px;
}

.company-map {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  /*親の横幅 × 48% */
  aspect-ratio: 1/1;
  /* 正方形 */
}

.company-map iframe {
  width: 100%;
  height: 100%;
}

.company-info {
  color: #fff;
}

.company-info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.company-info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 550px;
  padding: 20px 0;
  border-bottom: 1px solid #cacaca;
}

.company-info-row:last-child {
  border-bottom: none;
}

.company-info-row dt {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 180px;
          flex: 0 1 180px;
  /* ラベル幅を固定 */
  padding: 0 10px;
}

.company-info-row dd {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  /* 残りの横幅全部 */
}

@media screen and (max-width: 900px) {
  .company-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 80px;
  }
  .company-map {
    width: 100%;
    aspect-ratio: 4/3;
  }
  .company-info {
    width: 100%;
  }
  .company-info-row {
    width: 100%;
  }
  .company-info-list {
    font-size: 14px;
  }
  .company-info-row dt {
    width: 30%;
  }
  .company-info-row dd {
    width: 70%;
  }
}
.item-detail-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
  margin-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 120px;
  color: #fff;
}

.item-detail-title {
  font-size: 36px;
  margin-bottom: 24px;
}

.item-detail-price {
  font-size: 24px;
  margin-bottom: 32px;
}

.item-quantity label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40px;
  margin-bottom: 4px;
  font-size: 14px;
}

.item-quantity input {
  display: block;
  width: 160px;
  height: 40px;
  background-color: #fff;
  color: black;
  font-size: 16px;
  padding: 0 7px;
}

.add-cart-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
  background-color: #BA0808;
  padding: 13px 20px;
  margin-bottom: 48px;
}

.add-cart-btn i {
  padding-left: 4px;
}

.item-descruption-text1 {
  font-size: 16px;
  line-height: 1.9;
  margin-right: 8px;
  margin-bottom: 15px;
}

.item-descruption-text2 {
  font-size: 16px;
  margin-right: 8px;
  line-height: 1.9;
}

@media screen and (max-width: 900px) {
  .item-detail-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 80px;
  }
  .item-detail-title {
    font-size: 24px;
    margin-bottom: 12px;
  }
  .item-detail-price {
    font-size: 20px;
  }
}
.main-title {
  font-size: 32px;
  color: #fff;
  margin: 32px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 900px) {
  .main-title {
    font-size: 24px;
  }
}

.main-title::before {
  content: "";
  width: 40px;
  height: 1.5px;
  background-color: #fff;
  margin-right: 24px;
}

.product-inner {
  margin-bottom: 120px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
}

.popular-inner {
  margin-bottom: 120px;
}

.popular-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}

@media screen and (max-width: 900px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 28px 8px;
  }
  .popular-grid {
    grid-template-columns: 1fr;
    gap: 25px;
  }
  .main-title::before {
    width: 32px;
    margin-right: 16px;
  }
  .product-inner {
    margin-bottom: 80px;
  }
  .popular-inner {
    margin-bottom: 80px;
  }
}