@use "setting";

.about-inner {
    display: flex;
    gap: 48px;
    align-items: center;
    margin-bottom: 120px;
    color: #fff;
}

.about-text1 {
    margin-bottom: 34px;
}

.about-textTitle {
    font-size: 28px;
    margin-bottom: 24px;
}

.about-text p {
    line-height: 1.9;
}

.about-image,
.about-text {
  flex: 1;
}


@include setting.mq(tab) {
    .about-inner{
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;
    }

    .about-textTitle{
        font-size: 22px;
    }
}