@use "setting";

.company-inner {
    display: flex;
    align-items: center;
    gap: 48px;
    margin-bottom: 120px;
}

.company-map {
    flex: 1;  /* 兄弟要素と幅を均等に分ける */
    aspect-ratio: 1/1;
    /* 正方形 */
}

.company-map iframe {
    width: 100%;
    height: 100%;
}

.company-info {
    color: #fff;
    width: 100%;
    flex: 1;  /* 兄弟要素と幅を均等に分ける */
}

.company-info-list {
    display: flex;
    flex-direction: column;
}

.company-info-row {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #cacaca;
}

.company-info-row:last-child {
    border-bottom: none;
}

.company-info-row dt {
   width: 30%;
    padding: 0 10px;
}

.company-info-row dd {
   width: 70%;
}


@include setting.mq(tab) {
    .company-inner {
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;
    }

    .company-map {
        width: 100%;
        aspect-ratio: 4/3;
    }

    .company-info{
        width: 100%;
    }

   .company-info-row{
    width: 100%;
   }

   .company-info-list{
    font-size: 14px;
   }

 .company-info-row dt {
    width: 30%;
}

 .company-info-row dd {
    width: 70%;

}
}